@model ShapeShift.Models.AppUser

@{
    ViewBag.Title = "index";
}

<h2>index</h2>

@Html.ActionLink("Send group message", "GroupMessage", "Manger")
@Html.ActionLink("Send Private message", "PrivateMessage", "Manger")