@model ShapeShift.Models.Organization

@{
    ViewBag.Title = "Index";


    <li>@Html.ActionLink("Add Employee", "Create", "Employee")</li>
    <li>@Html.ActionLink("Add Manager", "Create", "Manager")</li>
    <li>@Html.ActionLink("Add Location", "Create", "Location")</li>
}



<h2>Index</h2>

