@model IEnumerable<ShapeShift.Models.Shift>

@{
    ViewBag.Title = "ShiftExchange";
}



    @*<sidenav>
        <li hidden> @Html.ActionLink("Filter SHift List", "ShiftExchange", "AppUsers")<

    </sidenav>*@





    <html lang="en">
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    </head>
    <body>
        <h1>Shift Exchange</h1>
        <div class="container-fluid">
            <div class="row content">

                <div class="col-sm-6">
                    @Html.Partial("_ViewAllAvailableShifts", Model)
                </div>

                <div class="col-sm-6">
                    @Html.Partial("_MyShifts", Model) @*//on page load calls view app users shifts*@


                </div>


            </div>
     

        </div>

    

        <footer class="container-fluid">
            <p>Make Shift</p>
        </footer>

        <script>
            $('#EditShift').click(function () {
                evt.preventDefault();
                evt.stopPropagation();
                $('#EditShiftField').show();
                var $detailDiv = $('#EditShiftEmpty'),
                    url = $(this).data('url');

                $.get(url, function (data) {
                    $detailDiv.replaceWith(data);
                });

            });

        </script>
</body>
</html>




